#### 1. Read the City Cemetery data into a pandas DataFrame. **Hint:** see the [`read_excel` function](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html).

In [1]:
import pandas as pd   
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns

In [2]:
cemetery_df=pd.read_excel('../data/Historic_Nashville_City_Cemetery_Interments__1846-1979.xlsx')

In [3]:
cemetery_df.head(2)

,Volume,Name,Burial Month,Month No.,Burial Day,Burial Year,Sex,Race,Age,Residence,Cause of Death/Burial,Ave,Section/Lot,Remarks
0,6B,"Bell, Nancy Ann",Aug,8.0,6.0,1979.0,F,W,10.0,NaN,NaN,Oak,"sec. 28 NW, lot 12",J. L. Hughes lot
1,6W,"Drake, Mary Edith Smith, Mrs.",May,5.0,19.0,1979.0,F,W,67.0,"Madison, Tenn",Cancer,"Locust, Boyd Lot",lot 10,"wife of Alex M. Drake, Madison Funeral Home Of..."

In [4]:
cemetery_df = cemetery_df.rename(columns={"Volume":"volume","Name":"name","Burial Month":"burial_month","Month No.":"month_number","Burial Day":"burial_day","Burial Year":"burial_year","Sex":"sex","Race":"race","Age":"age","Residence":"residence","Cause of Death/Burial":"cause_of_death","Ave":"ave","Section/Lot":"sec_lot","Remarks":"remarks"})

cemetery_df.head(1)

,volume,name,burial_month,month_number,burial_day,burial_year,sex,race,age,residence,cause_of_death,ave,sec_lot,remarks
0,6B,"Bell, Nancy Ann",Aug,8.0,6.0,1979.0,F,W,10.0,NaN,NaN,Oak,"sec. 28 NW, lot 12",J. L. Hughes lot

#### 2. **Most Common Causes of Death.**  
  a. Find the 10 most common (known) recorded causes of death.

In [6]:
top_10=cemetery_df["cause_of_death"].value_counts().drop(["Unknown","Not Known"], axis="index").nlargest(10)
top_10

#had it: .value_count->.nlargest->.drop// this resulted in having a list of eight, needed 10

cause_of_death
Consumption     1767
Still Born       841
Cholrea          667
Old Age          604
Cholera          575
Pneumonia        516
Flux             469
Complication     446
Cold             421
Teething         411
Name: count, dtype: int64

  b. Clean up some of the misspellings. Use the [`replace` method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html) to clean up some of the causes of death. For example, replace "Cholrea" with "Cholera" and "Still Born" with "Stillborn".